#header1-k H1 {
  color: #ffffff;
  font-size: 80px;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .navbar-brand {
  font-size: 24px;
}
#content5-2 P {
  color: #1f2a3f;
}
#content5-2 .mbr-section-title {
  color: #1f2a3f;
}
#content5-5 .mbr-section-title {
  color: #ffffff;
}
#content5-5 P {
  color: #ffffff;
  font-size: 24px;
}
#msg-box4-e .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#msg-box4-e .lead P {
  color: #ffffff;
  font-size: 20px;
}
#footer1-6 P {
  color: #8f99af;
}
#menu-m .navbar-toggler {
  color: #000;
}
#menu-m .navbar-brand {
  font-size: 24px;
}
#footer1-v P {
  color: #8f99af;
}
